gitrepo/src/main/app/gitrepo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:my-first="http://www.mulesoft.org/schema/mule/my-first" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/my-first http://www.mulesoft.org/schema/mule/my-first/current/mule-my-first.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <my-first:config name="MyFirst__Configuration" greeting="Ola" reply="Kemon aache" doc:name="MyFirst: Configuration"/>
    <flow name="gitrepoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/path" doc:name="HTTP"/>
        <my-first:greet config-ref="MyFirst__Configuration" YourName="Anish" doc:name="MyFirst"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
